
services: 
  users:
    image: postgres:16
    container_name: cinema-users-database
    environment: 
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${USERS_DATABASE_NAME}
    ports: 
      - '${USERS_DATABASE_PORT}:5432'
    volumes: 
      - pg_users_data:/var/lib/postgresql/data
  accounts:
    image: postgres:16
    container_name: cinema-accounts-database
    environment: 
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${ACCOUNTS_DATABASE_NAME}
    ports: 
      - '${ACCOUNTS_DATABASE_PORT}:5432'
    volumes: 
      - pg_accounts_data:/var/lib/postgresql/data
  actors:
    image: postgres:16
    container_name: cinema-actors-database
    environment: 
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${ACTORS_DATABASE_NAME}
    ports: 
      - '${ACTORS_DATABASE_PORT}:5432'
    volumes: 
      - pg_actors_data:/var/lib/postgresql/data
  movies:
    image: postgres:16
    container_name: cinema-movies-database
    environment: 
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${MOVIES_DATABASE_NAME}
    ports: 
      - '${MOVIES_DATABASE_PORT}:5432'
    volumes: 
      - pg_movies_data:/var/lib/postgresql/data
  genres:
    image: postgres:16
    container_name: cinema-genres-database
    environment: 
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${GENRES_DATABASE_NAME}
    ports: 
      - '${GENRES_DATABASE_PORT}:5432'
    volumes: 
      - pg_genres_data:/var/lib/postgresql/data
  ratings:
    image: postgres:16
    container_name: cinema-ratings-database
    environment: 
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${RATINGS_DATABASE_NAME}
    ports: 
      - '${RATINGS_DATABASE_PORT}:5432'
    volumes: 
      - pg_ratings_data:/var/lib/postgresql/data
  tokens:
    image: postgres:16
    container_name: cinema-tokens-database
    environment: 
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${TOKENS_DATABASE_NAME}
    ports: 
      - '${TOKENS_DATABASE_PORT}:5432'
    volumes: 
      - pg_tokens_data:/var/lib/postgresql/data
  redis:
    image: redis:6.2
    container_name: cinema-redis
    ports:
      - '${REDIS_PORT}:6379'
    volumes:
      - cinema_redis_data:/data
    command: "redis-server --requirepass $REDIS_PASS"
    
volumes:
  cinema_redis_data:
  pg_users_data:
  pg_accounts_data:
  pg_actors_data:
  pg_movies_data:
  pg_genres_data:
  pg_ratings_data:
  pg_tokens_data: